<div id="user">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h4><a href="/">Home</a></h4>
        <h4><a href="/locations">All Locations</a></h4>
        <div>
        {{#if user}}
            <h1>Welcome back, {{user.first_name}}!</h1>
            <h3>Your Info</h3>
            <div> 
                Name: {{user.first_name}} {{user.last_name}} <br>
                Email: {{user.email}}
            </div>
            <div>
                <h3>Comments You Have Made:</h3>
                {{#each user.Store_Comments}}
                <div> 
                <strong><a href="/product/{{id}}">{{name}}</a></strong>
                <p>
                    <strong>Store: </strong>{{Store.name}}<br>
                    <strong>Posted: </strong>{{updatedAt}}<br>
                    <strong>Comment: </strong>{{comment}}<br>
                </p>
                </div>
                {{/each}}
            </div>
        {{else}}
            <h1>Unknown User</h1>
            <h4>
                <a href="/signin">Return to Sign-In</a></h4>
            </h4>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
